h1 {
    color: lightsteelblue;
}

h3 {
    font-size: 234%;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    background-color: #FFFF00;
}

ul {
    display: inline-block;
}

.extreme {
	font-size: 200%
}

div {
	background-color: orange;
}	

li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover {
	color: purple;
	font-size: 250%;
}

.head1 {
	text-align: center;
}


.prose {
	color: green;
}

.content {
	color: red;
}
